{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/chumbucket.css" %}" />
        <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>        
        <link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/sitio.css" %}" />
         <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/animations.css" %}" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{% static "js/site.js"%}"></script>
 
        {% block kuppe %}{% endblock %}

        <script type="text/javascript">
            $(document).ready(function(){
                $('.sender').submit(sendit);
                {% block document_ready %}
                {% endblock%}
                
            });
        </script>

    </head>
    <body>
   <div id="grandback"></div>
    <div id="gridback"></div>
    {% block content %}{% endblock %}

    </body>
</html>




