{% extends 'base2.html'%}

{% block document_ready %}
/*
if('21.8459332794'!='0.0' && '-102.271314158'!='0.0'){
            place  = new google.maps.LatLng(21.8459332794,-102.271314158);
            data = {
                      'name':'REDTRANET',
                      'location':place,
                      'icon':'contact.png'
                 }
            locations.push(data);
        }
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address':'Mexico'},function(results,status){
        if(status==google.maps.GeocoderStatus.OK){
            the_place = locations[0].location;
            //new google.maps.LatLng(results[0].geometry.location.k, results[0].geometry.location.B);
            draw_map();
            map.zoom=9;
            map.center=locations[0].location;
        }    
        else{
            alert('some problem with maps');
        }
        });
    */
{% endblock%}
{% block content %}
    <div id="boxmaster">
        <a name="home"></a>
        <div id="brandbox" class="inline_blocke">
             <div class="inline_blocke">
                <h2 id="brandtxt">Client manager</h2>
                <h1 id="brandname">SalesPoint</h1>
            </div>
            <br/>
                <div id="login-box" class="inline_blocke">
                    <form  name="login_form" action="login" method="post" class="sender">
                    {%csrf_token%}
                        <div>
                            <label></label>
                            <input type="text" name="user" class="inputtext" placeholder="Usuario" /> 
                        </div>
                         <div>
                            <label></label>
                            <input type="password" name="pass" class="inputtext" placeholder="Contraseña" /> 
                        </div>
                        <button type="submit" class="fa fa-sign-in loginin" ></button>
                    </form>
                </div>
        </div>

    </div>


{% endblock %}
