{% extends 'base2.html'%}
{% block content %}
    <div id="boxmaster">
        <ul>
            <li class="inline_blocke"><p>Hello: {{user.seller_set.all.0.fullname}}</p></li>
            <li class="inline_blocke"><a href="/logout">logouts</a></li>
        </ul>
    

    <div id="form-box">
                    <form  name="customer_form" action="/customerform" method="post" class="sender forma">
                    {%csrf_token%}
                    {{forma.as_p}}
                       <button type="submit" class="fa fa-sign-in loginin" ></button>
                    </form>

    </div>

    </div> 
{% endblock %} 
