{% extends 'base2.html'%}
{% load staticfiles %}
{% block kuppe %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/contacts.css" %}" />
     <script type="text/javascript" src= "/static/js/chumbukcet.js"></script>

    <script type="text/javascript" src= "/static/js/forms.js"></script>
    <script type="text/javascript">
           {% for em in emails %}
            emails.push('{{em.email}}');
        {% endfor%}
    </script> 
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/geolocalizations.js" %}"></script>
    <script type="text/javascript">
        var locations = [];
            if('{{c.lat}}'!='0.0' && '{{c.lon}}'!='0.0'){
                place  = new google.maps.LatLng({{ent.latac}},{{ent.lonac}});
                data = {
                    'name':'{{c.nameac}}',
                    'location':place,
                    'icon':'entity.png'
                }
                locations.push(data);
            }

        var the_place = null;
        var map;
    $(document).ready(function(){
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address':'Mexico'},function(results,status){
            if(status==google.maps.GeocoderStatus.OK){
                the_place = locations[0].location;
                //new google.maps.LatLng(results[0].geometry.location.k, results[0].geometry.location.B);
                draw_map();
                map.zoom=9;
                map.center=the_place;

            }    
            else{
                alert('some problem with maps');    
            }
        });

        $('#tagform').submit(ajax_send_tag);
        $('.btn_add_tag').click(function(){
            $(this).parents('form:first').submit();    
        });
        $('.showtagform').click(function(){
            var mia = $(this).position();
            $('#popover0').show().css('top',(mia.top+35)+'px').css('left',(mia.left-45)+'px');    
            
        });



});
</script>
{% endblock %}

{% block content %}
<div role="tooltip" class="popover  bottom in" id="popover0">
    <div class="arrow"></div>
        <h3 class="popover-title">Agregar Tag</h3>
            <div class="popover-content">
            <div class="arrow"></div>
            <div  class=" phateris" id="tagerbox">
                <div class="arrow"></div>
                <form  method="post" class="tagger" id="tagform">
                    {%csrf_token%}
                    <input type="hidden" name="typo" value="entity" />
                    <input type="text" name="tag"  class="inline_blocke form-control" style="width:67%;"/>
                    <input type="hidden" name="contactpk" value="{{ent.pk}}" />
                     <input type="submit" class="btn btn-success" value="Agregar" />
                </form>
            </div>
    </div>
</div>



<div class="table_n">
    <div class="table_r white_box">
        <div style="width:70%;"  class="table_c detailleft">
            <br/>
            <div class="layout_box">
            <div class="inline_blocke">
                {% if ent.photoimg.entity_file.url %}
                    <div class="inline_blocke singlefoto" style="background-image:url(/static/{{ent.photoimg.entity_file.url}});">
                    <span class="inline_blocke">&nbsp;</span></div>
                {% else %}
                    <img src="/static/images/nophoto.png" />
                {% endif %}
            </div>
            <div class="inline_blocke info_list_contact">
                <h2 class="title-names">{{ent.nameac}}</h2>
                <div class="t4b">{{u.url}}</div>
                {% for em in ent.entityemaillist_set.all %}
                    <p class="t4b">{{em.email}}</p>
                {% endfor%}
                {% for em in ent.phones_list  %}
                    <p class="t5">{{em.phone}}: {{em.typePhone}}</p>
                {% endfor%}
                <div>
                    <a href="#" class="showtagform t5b">Agregar etiquetas</a>
                </div>
            </div>
            <div id="tage_boxe">
                {% for t in ent.tages %}
                <div class="inline_blocke tags">
                     <a href="#{{t}}" id="pice_{{ent.pk}}" target="#entity"
                       class="inline_blocke removetagg glyphicon glyphicon-remove">&nbsp;
                    </a>
                    <div class="inline_blocke">{{t}}</div>
               </div>
                {% endfor %}
            </div>
        </div>
           <div class="layout_box">
                 <div class="tabs">
                   <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#list_results">Contactos</a></li>
                    </ul>
                </div>
                <div class="table_n">
                <div class="table_r">
                 <div class="table_c" style="border-right:1px solid #E1E1DC;width:45%;">
                    <form action="#relcontact" id="relcontacts">
                        <input type="hidden" name="entity" value="{{ent.pk}}" />
                       <ul id="contact-field">
                        <div>
                            <div class="adderbtn">
                                <a role="contact-field" data="t6"  href="#add" class="adderc glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                                <a href="#removercontacto" class="deler blind glyphicon glyphicon-remove-sign">&nbsp;</a>
                            </div>
                        </div>
                        <li class="t6">
                            <label class="fa fa-user inline_blocke addconlabel"></label>
                            <input type="text" name="contacto" 
                            class="v_contacto inline_blocke txtaddcontactinput" 
                            placeholder="(agregar contacto)" />
                        </li>
                        <li class="t6">
                            <label class="fa fa-user inline_blocke addconlabel"></label>
                            <input type="text" name="contacto" 
                            class="v_contacto inline_blocke txtaddcontactinput" 
                            placeholder="(agregar contacto)" />
                       </li>
                         <li class="t6">
                            <label class="fa fa-user inline_blocke addconlabel"></label>
                            <input type="text" name="contacto" 
                            class="v_contacto inline_blocke txtaddcontactinput" 
                            placeholder="(agregar contacto)" />
                       </li>
                       </ul>
                         <div style="text-align:right;margin:20px 10px;">
                            <input type="submit" value="adjuntar contacto(s)" class="btn btn-success" />
                        </div>
                    </form> 
                </div>
                <ul id="list_results" class="table_c" style="padding:0px 0px 0px 12px;">
                     <li id="c_0" class="blind">
                        <div style="text-align:right;">
                            <a href="#/removethis/0/0" class="delcontact  glyphicon glyphicon-remove">&nbsp;</a>
                        </div>
                        <div>
                        <div class="inline_blocke myminiphoto" style="background-image:url(/static/images/nophoto.png);">
                        </div>
                        <div class="inline_blocke" style="width:70%;">
                            <a href="/detailcontact/0/" class="t4 linking">
                            <div class="namec">0</div>
                            <div class="t5 email_listing ">0</div>
                            <div class="t5 addr"></div>
                            </a>
                       </div>
                       </div>
                   </li>
                    {% for c in ent.as_contact_set.all %}
                    <li id="c_{{c.contacto.pk}}">
                        <div style="text-align:right;">
                            <a href="#/removethis/{{c.contacto.pk}}/{{ent.pk}}" class="delcontact  glyphicon glyphicon-remove">&nbsp;</a>
                        </div>
                        <div>
                        {% if c.contacto.photoc %}
                        <div class="inline_blocke myminiphoto" style="background-image:url(/static/{{c.contacto.photoimg.contact_file.url}});">
                            <a href="/detailcontact/{{c.contacto.pk}}/" class="inline_blocke linking" style="width:100%;height:100%;">&nbsp;</a>
                        </div>
                        {% else %}
                         <div class="inline_blocke myminiphoto" style="background-image:url(/static/images/nophoto.png);">
                        </div>
                        {% endif %}
                        <div class="inline_blocke" style="width:70%;">
                            <a href="/detailcontact/{{c.contacto.pk}}/" class="t4 linking">
                            <div class="namec">{{c.contacto.namec}} {{c.contacto.lastname}}</div>
                            {% for lc in c.contacto.contacto %}
                            <div class="t5">{{lc.metastring}} {{lc.metavalue}}</div>
                            {% endfor %}
                            {% for m in c.contacto.emaillist_set.all %}
                            <div class="t5 email_listing ">{{m.email}}</div>
                            {% endfor %}
                            {% for adr in c.contacto.addresses %}
                            <div class="t5">{{adr.metavalue}}</div>
                            {% endfor %}
                            </a>
                       </div>
                       </div>
                   </li>
                    {% endfor %}
               </ul>

               </div>
                </div>
            </div>

                <div id="nota_box" class="layout_box blind">
                    <div>
                        <div class="t5">Agregar una nota acerca de {{c.namec}}</div>
                        <textarea class="borderme"> </textarea>
                    </div>
                    <div class="alineador">
                        <a href="#doit" class="link_green">Agregar nota</a>
                    </div>
                </div>


        </div>
        
        <div id="" class="table_c graybox">
            <div class="table_n" style="height:40px;width:98%;margin.auto;">
                <div class="table_r">
                    <div class="table_c" style="text-align:left;">
                        <p class="contact_editor_lnk"><a href="/editentity/{{ent.pk}}/" class="linker">Editar Organización</a></p>  
                    </div>
                    <div class="table_c" style="text-align:right;">
                        <a href="/delentity/{{ent.pk}}/" class="linker deleteperson">Eliminar Organización</a>
                    </div>
                </div>
            </div>
        <div class="greenbox"></div>
           <ul class="contact_info_box">
                {% for m in ent.emaillist_set.all %}
                <li><a href="mailto:{{m.email}}" class="linker_blue">{{m.email}}</a></li>
                {% endfor %}
                {% for tel  in c.phone_list %}
                <li><span class="t4 right_contact">{{tel.phones}}</span><span class="t5 right_contact"> {{tel.typephones}}</span></li>
                {% endfor %}
                {% if ent.twitteract %}
                    <li class="t4 right_contact"><span class="t5">Twitter:</span> {{ent.twitteract}}</li>
                {% endif %}
             {% for u in ent.urls_list %}
             <div class="t4 right_contact">url:{{u.url}}</div>
             {% endfor %}
             <li>
               <div>
                    <div class="t4 right_contact"><span class="t5">Estado:</span> {{ent.estadoa}}</div>
                    <div class="t4 right_contact"><span class="t5">Delegación o Municipio:</span> {{ent.delomun}}</div>
                    <div class="t4 right_contact"><span class="t5">Colonia:</span> {{ent.colonia}}</div>
                    {% for ad in ent.myaddrs %}
                        <div class="t4 right_contact"><span class="t5">{{ad.metastring}}:</span> {{ad.metavalue}}</div>
                    {% endfor%} 
                    <div class="t4 right_contact"><span class="t5">C.P.:</span> {{ent.cpac}}</div>
                </div>
                <br/>
                 <div>
                    <!-- MAPS CANVAS HERE -->
                    <div id="map_canvas" style="width:100%;height:290px;border-radius:20px;"></div>
                </div>
            </li>


            </ul>
{% endblock %}
