<div role="tooltip" class="popover  bottom in" id="taskpopover">
    <div class="arrow"></div>
        <h3 class="popover-title">Popover title</h3>
            <div class="popover-content">
            <div class="arrow"></div>
            <div  class=" phateris" id="tagerbox">
                <div class="arrow"></div>
                <form  method="post" class="tagger">
                    {%csrf_token%}
                    <input type="text" name="tag"  class="inline_blocke form-control" style="width:67%;"/>
                    <input type="hidden" name="contactpk" value="{{c.pk}}" />
                    <a href="#" class="inline_blocke btn btn-success btn_add_tag">Agregar</a>
                </form>
            </div>
    </div>
</div>


