{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/chumbuket.css" %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/sitio.css" %}" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
       <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js"%}"></script>
        <script type="text/javascript" src=""></script>
        {% block kuppe %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
