{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static "css/bootstrap2.min.css"%}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme2.min.css"%}">
       <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">       
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "bootstrap/css/bootstrap.css" %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/chumbuket.css" %}" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/contacts.css" %}" />
        <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js"%}"></script>
        {% block kuppe %}{% endblock %}
        <script>
            modal=false;
        </script>
         <!-- Optional theme -->
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
        {% block css %}{% endblock %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.min.js"%}"></script>
        <script type="text/javascript" src="{% static "js/readmore.min.js"%}"></script>
        <script type="text/javascript" src="{% static "js/site.js"%}"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/sitio.css" %}" />
        
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script type="text/javascript" src="{% static "js/combobox.js"%}"></script>
        {% block js %}{% endblock %}
        <script type="text/javascript">
            $(document).ready(function(){
                {% block document_ready %}
                {% endblock %}
                    var popOverSettings = { //Save the setting for later use as well
                        placement: 'left',
                        container: 'body',
                        html: true
                        //content:" <div style='color:red'>This is your div content</div>"

                        }

        $(function () 
            { $("[data-toggle='popover']").popover(popOverSettings); });

    });

    </script>
    </head>
    <body>
    {% include 'tform.html' %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar una tarea</h4>
      </div>
      <div class="modal-body">
      {% include "calendar.html" %}
      </div>
    </div>
  </div>
</div>

        <div class="table_n">
            <div class="table_r">
                <div class="table_c lefty">{% include "menu_left.html" %}</div>
                <div class="table_c">
                    <div id="top_right">
                        {% include "top_right.html"%}
                    </div>
                    <div>
                        <div id="inicio_box">
                            {% block content %}{% endblock %} 
                        </div>           
                    </div>
                </div>
            </div>
        </div>
                       
       
        
        </div>   
    </body>

        {% block contentjs %}
        {% endblock %}  
 
</html>




