{% extends 'base2.html'%}
{% load staticfiles %}
{% load tasker%}

{% block kuppe %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "bootstrap/css/timepicker.css" %}" />
    <script type="text/javascript" src= "/static/bootstrap/js/timepicker.js"></script>
    <script type="text/javascript" src= "/static/js/tasks.js"></script>
    <script type="text/javascript" src= "/static/js/chumbukcet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/geolocalizations.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script type="text/javascript">
        var locations = [];
            if('{{c.lat}}'!='0.0' && '{{c.lon}}'!='0.0'){
                place  = new google.maps.LatLng({{c.lat}},{{c.lon}});
                data = {
                    'name':'{{c.namec}}',
                    'location':place,
                    'icon':'contact.png'
                }
                locations.push(data);
            }
            else
            {
                var geocoder = new google.maps.Geocoder();
                var country  = 'Mexico';
                address = country;
                geocoder.geocode({'address':address},function(results,status){
                    if(status==google.maps.GeocoderStatus.OK){
                        var the_place = new google.maps.LatLng(results[0].geometry.location.k, results[0].geometry.location.B);
                        /*
                        $('#map_canvas').html('Cargando mapa, porfavor espere...');
                        $('#id_lat').val(results[0].geometry.location.k);
                        $('#id_lon').val(results[0].geometry.location.B);
                        $('#id_latac').val(results[0].geometry.location.k);
                        $('#id_lonac').val(results[0].geometry.location.B);
                        initialize(the_place);
                        $('#map-canvas').removeClass('blind');
                        */
                        data = {
                            'name':'{{c.namec}}',
                            'location':the_place,
                            'icon':'contact.png'
                        }
                        locations.push(data);
                    }    
                    else{
                        alert('some problem with maps');    
                    }
                });
            }

        var the_place = null;
        var map;

    $(document).ready(function(){
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address':'Mexico'},function(results,status){
            if(status==google.maps.GeocoderStatus.OK){
                the_place = locations[0].location;
                //new google.maps.LatLng(results[0].geometry.location.k, results[0].geometry.location.B);
                draw_map();
                map.zoom=9;
                map.center=the_place;

            }    
            else{
                alert('some problem with maps');    
            }
        });

        $('.showtask').click(tasker);
        $('#tagform').submit(ajax_send_tag);
        $('.showtagform').click(function(){
            var mia = $(this).position();
            $('#popover0').show().css('top',(mia.top+35)+'px').css('left',(mia.left-45)+'px');    
            
        });
        
        $('.ajaxcall').click(ajaxcall);
        $('.editor_open').click(editor_open); 
    });
</script>
{% endblock %}

{% block content %}


<div role="tooltip" class="popover  bottom in" id="popover0">
    <div class="arrow"></div>
        <h3 class="popover-title">Agregar Tag</h3>
            <div class="popover-content">
            <div class="arrow"></div>
            <div  class=" phateris" id="tagerbox">
                <div class="arrow"></div>
                <form  method="post" class="tagger" id="tagform">
                    {%csrf_token%}
                    <input type="text" name="tag"  class="inline_blocke form-control" style="width:67%;"/>
                    <input type="hidden" name="contactpk" value="{{c.pk}}" />
                    <input type="submit" class="btn btn-success" value="Agregar" />
                </form>
            </div>
    </div>
</div>


<div class="table_n">
    <div class="table_r white_box">
        <div style="width:70%;"  class="table_c detailleft">
            <div class="layout_box">
                <div class="inline_blocke">
                    {% if c.photoimg.contact_file.url %}
                    <div class="inline_blocke singlefoto" style="background-image:url(/static/{{c.photoimg.contact_file.url}});">
                    <span class="inline_blocke">&nbsp;</span></div>
                    {% else %}
                        <img src="/static/images/nophoto.png" />
                    {% endif %}
                </div>
                <div class="inline_blocke info_list_contact">
                    <h2 class="title-names">{{c.namec}} {{c.lastname}}</h2>
                    <div class="t4b">{{c.chargec}}</div>
                    <div>
                        <a href="#" class="showtagform t5b">Agregar etiquetas</a>
                    </div>
                </div>
                    <div id="tage_boxe">
                        {% for t in c.tages %}
                        <div class="inline_blocke tags">
                            <a href="#{{t}}" id="pice_{{c.pk}}" class="inline_blocke removetagg glyphicon glyphicon-remove">&nbsp;</a>
                            <div class="inline_blocke t7">{{t}}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="layout_box">
                    <div class="tabs">
                       <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#">Notas</a></li>
                            <!-- <li class="blind"><a href="#">Email</a></li>-->
                        </ul>
                    </div>
                    <div>
                        <form action="/addnote" method="post" id="addnotes">
                        <div class="t5" style="margin:9px 3px;">Agregar una nota <!-- acerca de {{c.namec}} --></div>
                        <textarea name="text" class="borderme form-control"> </textarea>
                        {%csrf_token%}
                        <input type="hidden" name="sender" value="{{user.pk}}" />
                        <input type="hidden" name="receptor" value="{{c.pk}}" />
                         <div class="alineador">
                         <input type="submit" value="Agregar nota" class="btn btn-success" />
                        </div>
                        </form>
                    </div>
                    <div class="notes_box">
                        {%for note in c.note_set.all|dictsort:"date_create" reversed %}
                        <div class="notes_list">
                            <div class="right_text">
                                <a href="/delnote?id={{note.pk}}" class="inline_blocke glyphicon glyphicon-remove ajaxcall"></a>
                            </div>
                            <div class="inline_blocke table_c" style="padding:1px 6px;"><img src="/static/images/sobre.gif" /></div>
                            <div class="inline_blocke table_c">
                                <div class="t6 fecha_s">{{note.date_create}}</div>
                                <div><a href="#editnote/{{note.pk}}" class="glyphicon glyphicon-pencil editor_open"></a></div>
                                <div class="t7">Nota de <span class="sender">{{note.sender.contact_set.all.0.namec}}
                                    {{note.sender.contact_set.all.0.lastname}}</span>
                                </div>
                                <p class="t6 text txt_mode">{{note.text}}</p>
                                <div class="edit_mode blind">
                                    <input type="hidden" name="idnote" value="{{note.pk}}" />
                                    <textarea name="textnote">{{note.text}}</textarea>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="notes_list blind"> 
                             <div class="right_text">
                                <a href="/delnote?id={{note.pk}}" class="inline_blocke glyphicon glyphicon-remove ajaxcall"></a>
                            </div>
                            <div class="inline_blocke table_c" style="padding:1px 6px;"><img src="/static/images/sobre.gif" /></div>
                            <div class="inline_blocke table_c">
                                <div class="t6 fecha_s"></div>
                                <div class="t7">Nota de <span class="sender"></span>
                                </div>
                                <p class="t6 text"></p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
       <div id="" class="table_c graybox">
            <div class="table_n" style="height:40px;width:98%;margin.auto;">
                <div class="table_r">
                    <div class="table_c" style="text-align:left;">
                        <p class="contact_editor_lnk"><a href="/edtcontact/{{c.pk}}/" class="linker">Editar Persona</a></p>  
                    </div>
                    <div class="table_c" style="text-align:right;">
                        <a href="/delcontact/{{c.pk}}/" class="linker deleteperson">Eliminar Persona</a>
                    </div>
                </div>
            </div>
            
            <div class="table_n greenbox">
                <div class="table_r">
                    <p class="table_c" style="text-align:left;padding-right:18px;">
                        <a href="#/calendar/newtask/"  data-toggle="modal" data-target="#myModal" style="color:#FFF;">+ Agregar Tarea</a>
                    </p>
        
                </div> 
        </div>
            {% include "pices/tareas.html"%} 
           <br/>
           <div class="greenbox" style="height:24px;"></div>
           <ul class="contact_info_box">
                {% for s in c.contactsocialinfo_set.all %}
                <li class="t5"> Twitter: {{s.cuentas.account}}</li>
                {% endfor %}
                {% if c.emaillist_set.all%}
                <li class="t5">Email(s)</li>
                {% endif %}
                {% for m in c.emaillist_set.all %}
                <li><a href="mailto:{{m.email}}" class="linker_blue">{{m.email}}</a></li>
                {% endfor %}
                {% if c.contacto %}
                <li class="t5">Teléfono(s)</li>
                {% for tel  in c.contacto %}
                <li><span class="t4 right_contact">{{tel.metastring}}</span><span class="t5 right_contact"> {{tel.metavalue}}</span></li>
                {% endfor %} 
                {% endif%}
                <li>
                    <div>
                        <div class="t5">Localización</div>
                       {% for adr in c.addresses%}
                        <div class="t4 right_contact">
                            <span class="t4 right_contact">{{adr.metavalue}}</span>
                        </div>
                        {% endfor %}
                        <div class="t4 right_contact"><span class="t5">Colonia:</span> {{c.colonia}}</div>
                        <div class="t4 right_contact"><span class="t5">Delegación o Municipio:</span> {{c.delomun}}</div>
                        <div class="t4 right_contact"><span class="t5">Estado:</span> {{c.estado}}</div>
                        <div class="t4 right_contact"><span class="t5">C.P.:</span>{{c.cp}}</div>
                    </div>
                    <div id="map_canvas" style="width:100%;height:200px;border-radius:20px;"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
