<div id="header_box">
    <div id="logo" class="inline_blocke"><a href="/" class="inline_blocke">D4</a></div>
    <ul id="menu_list" class="inline_blocke">
        <li class="inline_blocke"><a href="/contacto">Nuevo contacto</a></li>
        <li class="inline_blocke"><a href="/entity">Nueva Organización</a></li>
        <li class="inline_blocke"><a href="/logout">Salir</a></li>
        <li class="inline_blocke"></li>
     </ul>
</div>
