{% extends 'base2.html'%}
{% load tager %}
{% load staticfiles %}


{% block kuppe %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/contacts.css" %}" />
    <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
    <script type="text/javascript" src="{% static "js/contacts.js" %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/geolocalizations.js" %}"></script>
 

    <script type="text/javascript">
        var locations = [];
        {% for c in contacts %}
            if('{{c.lat}}'!='0.0' && '{{c.lon}}'!='0.0'){
                place  = new google.maps.LatLng({{c.lat}},{{c.lon}});
                data = {
                    'id':'{{c.pk}}',
                    'name':'{{c.namec}}',
                    'location':place,
                    'icon':'contact.png'
                }
                locations.push(data);
            }

        {% endfor%}
        var the_place = null;
        var map;

function chowmap(){
        if(map){
            nothingtodo=true;
        }
        else{
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address':'Mexico'},function(results,status){
            if(status==google.maps.GeocoderStatus.OK){
                the_place = new google.maps.LatLng(results[0].geometry.location.k, results[0].geometry.location.B);
                draw_map();
            }    
            else{
                alert('some problem with maps');    
            }
            });
        }
   
}

$(document).ready(function(){
    $('[href=#map_canvas]').click(chowmap);    

        $('.tagger').click(tagger);

        $('.removetagg').click(removetag);
});
</script>
{% endblock %}


{% block content %}
<div class="table_n">
    <div class="table_r white_box">
            <div id="layout_box" class="table_c">
                <h2 class="title-2">Mis Contactos</h2>
                {% include 'forms/search_form.html'%}
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#list_results" role="tab" data-toggle="tab">Listado</a></li>
                    <li><a href="#map_canvas" role="tab" data-toggle="tab">Mapa</a></li>
                </ul>
                <br/>
                <div class="tab-content">
                    <ul id="list_results" class="tab-pane fade in active">
                        {% for c in contacts %}
                        <li>
                            <div class="inline_blocke boxy">&nbsp;</div>
                            {% if c.photoc %}
                            <div class="inline_blocke myminiphoto" style="background-image:url(/static/{{c.photoimg.contact_file.url}});">
                                <a href="/detailcontact/{{c.pk}}/" class="inline_blocke" style="width:100%;height:100%;">&nbsp;</a>
                            </div>
                            {% else %}
                             <div class="inline_blocke myminiphoto" style="background-image:url(/static/images/nophoto.png);">
                            </div>
                            {% endif %}
                            <div class="inline_blocke" style="width:80%;">
                                <a href="/detailcontact/{{c.pk}}/" class="t4">
                                <div>{{c.namec}} {{c.lastname}}</div>
                                {% for c in c.contacto %}
                                <div class="t5">{{c.metastring}} {{c.metavalue}}</div>
                                {% endfor %}
                                {% for m in c.emaillist_set.all %}
                                <div class="t5">{{m.email}}</div>
                                {% endfor %}
                                {% for adr in c.addresses %}
                                <div class="t5">{{adr.metavalue}}</div>
                                {% endfor %}
                                </a>
                                 {% for asoc in c.as_contact_set.all %}
                                <div class="t4"><a href="/detailentity/{{asoc.asociation.pk}}">{{asoc.asociation.nameac}}</a></div>
                                {% endfor%}
                                <div class="tag_block">
                                  {% for a in c.tages %}
                                        <span class="inline_blocke tags">{{a}}</span>
                                    {% endfor%}
                                </div>
                            </div>
                       </li>
                        {% endfor %}
                    </ul>
                    <div id="map_canvas"  class="tab-pane fade" style="width:100%;height:400px;border-radius:20px;"></div>
                </div>
            </div>
            <div class="tablec">{% include 'pices/tags.html' %}</div>

    </div>
</div>



{% endblock %}
