<div class="row">
    <div class="col-md-4">
        <a href="/contacto" class="btn btn-success">+ Contacto</a>
        <a href="/entity" class="btn btn-success">+ Organización</a>
        <a href="#/tasks" id="addtask" class="btn btn-success">+ Nueva Tarea</a>
    </div>
   <div class="col-md-4">
        <div class="form_search">
            <form name="srch" id="srch" method="post" action="/resultados" style="width:100%;">
                {%csrf_token%}
                <input type="text" name="words" maxlength="100" class="inline_blocke"  placeholder="Buscar" style="width:90%;" />
                <input type="submit" id="buscadore" value="&nbsp;" class="fa fa-search" />
                <a href="#submit"  class="submiter fa fa-search inline_blocke"></a>
            </form>
        </div>
    </div>
    <div class="col-md-4" style="text-align:right;">
        <div class="inline_blocke" id="nameplace">
           <div class="inline_blocke" style="padding:0px 5px;">    
                <span class="name_c">{{user.contact_set.all.0.namec}}</span>
                <span class="blind inline_blocke lastname_c">{{user.contact_set.all.0.lastname}}</span>
           </div>
        </div>
        <span class="inline_blocke" style="border-right:1px solid rgba(0,0,0,0.5);">&nbsp;</span>

            <div class="inline_blocke fa fa-envelope iconicos">
                    <a href="#"  class="red_round">1</a>
            </div>
             <span class="inline_blocke fa fa-inbox iconicos">
                    <a href="#"  class="red_round">1</a>
            </span>
 

        <a class="fa fa-cog inline_blocke" style="margin:0px 2px;padding:1% 0%;" href="#" data-toggle="popover" data-trigger="focus" title="Settings" data-content="<a href='/logout'>Cerrar sesión</a>"></a>
   </div>
<!--    <div class="col-md-2">
           <div class="dropdown btn-status" style="padding:4% 0px;">
            <a class="fa fa-cog " href="#" data-toggle="dropdown"></a>
            <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                <li><a href="/logout">Finalizar sesión</a></li>
            </ul>
        </div>
   </div>-->
</div>


<!--
<ul>
    <li class="inline_blocke">
        <a href="/contacto" class="btn btn-success">Contacto</a>
        <a href="/entity" class="btn btn-success">Organización</a>
        <a href="#/tasks" class="btn btn-success">Nueva Tarea</a>
    </li>
    <li class="inline_blocke form_search">
    </li>
   <li class="inline_blocke"><div class="inline_blocke"></div></li>
    <li class="inline_blocke">
    </li>
    <li class="inline_blocke">
    </li>
    <li class="inline_blocke">
    </li>
</ul>
-->
