body
{
    font-family: 'Montserrat', sans-serif;
    font-size:100%; 
}

#grandback
{
    background-image:url('/static/images/sales2.jpg');
    /*background-color:#333;*/

    background-size:cover; background-position: center; 
    position:fixed;height:100%;width:100%;z-index:1;
}


#gridback
{
    background-image:url('/static/images/bk.png');
    position:fixed;width:100%;height:100%;z-index:2;
}

#boxmaster{
    position:relative;width:100%;height:100%;z-index:3;
    color:#FFF;
}

#login-box
{
    width:30%;height:auto;margin:auto;text-align:right;
}


#login-box input
{
    border:0px solid;
    width:90%;padding:12px;
    border-radius:5px;background-color:rgba(255,255,255,0.5);
    color:#000;
    margin:1% 0%;
}

#login-box input:focus
{
    background-color:#333;
    color:#00cc33;
}

.loginin{
    font-size:6vmin;background:none;border:0px solid;color:#FFF;
    cursor:pointer;
}
.loginin:hover{
      -webkit-animation: growing 1s; /* Chrome, Safari, Opera */
        animation: growing 1s;
}


.tablen{ display:table;}
.tabler{display:table-row;}
.tablec{display:table-cell;}

#left_side
{
    width155%;border-right:1px dotted rgba(255,255,255,0.3);height:100%;    
}

#brandbox
{
    width:76%;height:20%;top:26%;right:0px;
    text-align:right;margin:auto;
}

#brandname
{
    font-weight:700;font-size:5vmin;text-align:right;
    font-family: 'Montserrat', sans-serif;

}

#brandtxt
{
    color:#00CC33;font-weight:300;font-size:7vmin;
    font-family: 'Muli', sans-serif;text-align:right;
}
#logo
{
    background-image:url('/static/images/logo.png');height:69px;width:53px;
    background-size:cover;overflow:hidden;line-height:500px;margin:2% 4%;

}
#menu_box
{
    position:fixed;bottom:5%;z-index:4;
    width:100%;text-align:center;margin-bottom:1%;
}

#menuer
{
    text-decoration:none;color:#FFF;font-size:4vmin;margin-top:3%;
    text-align:center;
}

#menu_box ul
{
    width:50%;margin:auto;
}

#menu_box ul li
{
    margin:1%;padding:1%;
}

#menu_box ul li a
{
    color:rgba(255,255,255,0.5);font-size:6vmin;font-weight:100;text-decoration:none;
}


#menu_box ul li a:hover
{
    color:rgba(255,255,255,0.9);
}

.fullsize{  width:100%;height:100%;}

.half
{
    width:45%;margin:1% 1px;height:25%;z-index:3;vertical-align:middle;color:#FFF;font-size:4vmin;
}

.blue_sky
{
    background-color:#0099FF;margin-left:1px;
}
.pinky
{
    background:#FF6699;
}

.green-row
{
    background:#00CC33;text-align:center;vertical-align:middle;color:#FFF;
}


.pager
{
    width:100%;height:100%;position:relative;z-index:3;text-align:center;
}

.we-title
{
    color:#FFF;font-size:6vmin;width:100%;text-align:center;padding:1% 0%;height:10%;
}


.med-icon
{
    font-size:6vmin;margin:0% 2%;
}

.tname
{
    font-size:4vmin;font-family: 'Muli', sans-serif;font-weight:bold;
}

.stname
{
    font-size:4vmin;font-family: 'Muli', sans-serif;
}

.menuer li
{
    margin:1% 2%;
}
.menuer a{
    color:rgba(255,255,255,0.4);font-size:5vmin;text-decoration:none;
}

.menuer a:hover
{
    color:#FFF;
}


.tercera
{
    width:30%;height:100%;
}
.sexta
{
    width:60%;height:100%;
}

.blues
{
    background-color:rgba(0, 153, 255, 0.5);
}


.forma{
        padding:2%;
    }

.forma label{
        display:block;width:100%;font-size:5vmin;
    }
.forma input, .forma textarea,.forma select
{
    border:0px solid;
    width:90%;padding:12px;
    border-radius:5px;background-color:rgba(255,255,255,0.5);
    color:#000;
    margin:1% 0%;
}

.forma input:focus, .forma textarea:focus,.forma select:focus
{
    border:0px solid;
    width:90%;padding:12px;
    border-radius:5px;background-color:rgba(255,255,255,1);
    color:#000;
    margin:1% 0%;
}



.sned
{
    position:relative;right:0px;background:none;border:0px solid;color:#FFF;font-size:8vmin;cursor:pointer;
}


