
*{
    margin:0px;padding:0px;    
}
ul{
    list-style:none;    
}

*:focus { outline: none; }

body,html{
    height:100%;width:100%;
    font-size:100%;
}

.inline_blocke{
    display:inline-block;display: -moz-inline-stack;display: inline-block;vertical-align: top;
    zoom: 1;*display: inline;text-align:justify;
}


