#top_right
	.Buscador
		width 84% !important
.superior_box
	background #fff
	height 100px
	.titulo_box
		padding 30px 18px
		h3
			color #000
			text-transform uppercase
			text-align left
	.paginator
		padding 10px 18px
		text-align right 
		p
			text-align left
			width 270px
			display inline-block
			vertical-align top
			padding-top 25px
		.pagination
			li
				a
					color #000 !important
.content_casos
	background #fff
	height 710px
	.nuevo_caso
		color #fff
		text-align left !important
		width 110px
		.btn_casonuevo
			background #419641
			border #419641
			color #fff
			margin-left 18px
			width 
			&:hover
				background #419641
				border #419641
				color #fff
				margin-left 18px
				width 102px
	.lista_procesos
		ul
			margin-left 17px
			margin-top 20px
			text-align left
			li
				display inline-block
				height 200px
				margin-bottom 20px
				position relative
				vertical-align top
				width 30%

				.interior
					border 1px solid gray
					height 200px
					width 100%
					.titulo_caso
						background #ECF0F1
						border-bottom 1px solid gray
						min-height 25px
						text-align center
						a
							color #000
						p
							display inline-block
							width 84%
						.fa
							display inline-block
							text-emphasis right
							width 10%
						.btn-status
							display inline-block
							text-align middle
							width 10%
							ul
								margin-top 0px 
								li 
									cursor pointer
									height 10px !important
									margin 15px
									width 100%
									.fa-check-circle
										color #00af3f
									.fa-times-circle, .fa-times
										color red
									.fa-pause
										color orange
					.estatus_caso
						ul
							margin 8px
							li
								height 0px
								text-align left
								width 100%
								p
									text-align left
									display inline-block
								span
									font-weight bold
									display inline-block
								i
									margin-right 10px
								.fa-check-circle
									color #00af3f
								.fa-times-circle, .fa-times
									color red
								.fa-pause
									color orange
				.participantes_caso
					background #ecf0f1
					overflow auto
					width 100%
					ul
						margin-top 5px
						position absolute
						background #ecf0f1
						bottom 0px
						margin 0px
						width 99%
						margin-bottom 1px
						li
							height 42px !important
							margin 0px
							width 23%
							img 
								height 35px
								margin-top 3px
								width 90%
			.espacio
				margin 1%
				display inline-block
.register_caso
	background #fff
	height auto
	max-height 600px
	overflow auto
	.registro_superior
		text-align left
		margin 15px
		border-bottom 1px solid gray
		h1
			text-transform uppercase
			color #4d5364
	.formulario_caso
		margin 15px
		form 
			text-align left 
			color #4d5364
			.form-group
				display inline-block
				width 48%
				label
					display inline-block
					width 200px
				.form-control
					display  inline-block
					vertical-align top
					width 300px
			.Guardar_caso
				background #419641
				border #419641
				color #fff
				margin-left 18px
				width 102px
				&:hover
					background #419641
					border #419641
					color #fff
					margin-left 18px
					width 102px
.register_fuente
	background #fff
	height auto
	overflow auto
	.registro_superior
		text-align left
		margin 15px
		border-bottom 1px solid gray
	.formulario_fuente
		margin 15px
		form 
			text-align left 
			color #4d5364
			.form-group
				display inline-block
				width 48%
				label
					display inline-block
					width 200px
				.form-control
					display  inline-block
					vertical-align top
					width 300px
			.Guardar_caso
				background #419641
				border #419641
				color #fff
				margin-left 18px
				width 102px
				&:hover
					background #419641
					border #419641
					color #fff
					margin-left 18px
					width 102px