body{
    background:#E4E8E6;
    font-family: 'Roboto', sans-serif;
    }

/* GENERAL BOXES CONTENT */
    .lefty{
        background-color:#1A1D23;height:100%;width:20%;vertical-align:top;
    }
    #logo_box{
        height:60px;display:block;text-align:center;
        margin-bottom:35px;background:#20252C;padding-top:13px;
    }

    #logo{
            width:108px;height:24px;margin-right:12px;
        }

    #user_info_box{
        display:block;text-align:center;    
    }
    #photo_home{
        width:68px;height:68px;border-radius:40px;
        background-size:inherit;
        }
    .name_box{
        width:50%;margin-left:10px;    
    }
    
    #righty{
        width:79%;    
    }

#head_login{
    line-height:150px;width:199px;margin:auto;margin-bottom:28px;
    height:61px;overflow:hidden;background:url(../images/loginbox.png) no-repeat 0px 0px; 
}

#boxlogin{
    width:30%;margin:auto;padding:65px 0px 0px 0px;
    font-size:12px;
}
#boxlogin label{
    display:block;font-weight:400;font-size:13px;
    padding:10px 0px;color:#505D6B;margin:12px 0px;
}
#box_to_save{
    width:100%;text-align:justify;margin:12px 0px;margin-top:44px;
}
#recordar_box{text-align:left;width:40%;line-height:-15px;font-weight:200;}
#saver_box{text-align:left;width:95%;padding-left:29px;}
#usr,#pwd{background:#FFF; width:79%;height:29px;padding:0px 1px 0px 24px;}
/*#pwd{background:#FFF; width:100%;height:25px;padding:0px 1px 0px 24px;}*/


#header_box{
    background:#000;
    padding:1%;margin:0px 0px 10px 0px;
}

#menu_list li{
    width:200px;color:#EDEDED;
}

#menu_list li a{
    color:#EDEDED;font-size:0.8em;text-decoration:none;
    display:block;text-align:center;
}

#left_menu{
    width:80%;margin:auto;font-size:0.8em;
    margin-top:32px;text-align:left;color:#AFAFAF;

}

#left_menu li{
    margin:20px 0px;
}

#left_menu img{
    margin-right:12px;
}
#left_menu i{
    margin-right:17px;
}
#left_menu li a{
    font-size:15px;font-weight:400;
    color:#808A99;text-decoration:none;
    padding-left:9px;
}

#left_menu a:hover{
    color:#FFF;
}

.salute{
    color:#FFF;font-weight:700;font-size:18px;    
}

.myname{
    color:#FFF;font-weight:400;font-size:16px;    
}

#left_box{
    width:15%;text-align:center;   
}


.boxy{
    border:1px solid #D3D2D2;border-radius:2px;width:12px;height:12px;margin:10px;display:none;
}

#layout_box{
    width:70%;height:100%;padding:16px;
}

.layout_box{
    width:96%;padding:16px;    
}

#tagbox{
    text-align:left;padding:12px;
}

#taglist li{
    text-align:left;font-size:12px;color:#2576B9;font-weight:600;
    border-top:1px solid #E1E1DC;margin:8px;padding:4px;
    width:80%;
}


#headbar{
    color:#475161;width:100%;width:100%;text-align:left;
    padding:0px 12px;font-weight:400;font-size:21px;
}

#subhead{
    width:100%;text-align:center;background:#FFF;
}

.spacer{ width:10%;}


.bordeus{
        border:1px solid #ADADAD;
}

#list_results{
    margin-top:22px;
}

#list_results li{
    text-align:left;padding:2% 1%;
    font-size:14px;border-top:1px solid #E1E1DC;
}
#list_results  li .myminiphoto{
    height:40px;margin-right:12px;margin-right:20px;
    background-size:cover;
}

#list_result div{
    width:20%;
}

.bolding{
        font-weight:700;width:100px;
    }
.thingray{
        font-weight:400;color:#ADADAD;
    }
#right_box{
    font-size:0.8em;
}

.table_n{
        display:table;
        text-align:center;
        height:100%;
        width:100%;
    }
.table_r{
        display:table-row;
    }
.table_c{
    display:table-cell;
   }



#inicio_box{
    width:94%;
    height:100%;margin:24px 30px;
}

.white_box{
    background:#FFF;    
}

.top38{
    margin-bottom:38px;    
}

.t1{
    padding-top:29px;
    font-size:26px;color:#485162;   
    font-weight:400;
}

.t2{
    font-size:18px;font-weight:300;color:#0E1722;
}

.t3{
    font-weight:300;font-size:12px;color:#0E1722;
}


.t4{
    padding-top:12px;text-decoration:none;
    font-weight:400;font-size:14px;color:#3A3D3F;
}

.t5{
    font-weight:400;font-size:12px;color:#878588;
    text-decoration:none;
}

.t6{
    font-weight:500;font-size:12px;color:#000006;    
}

.t6b{
    font-size:12px;color:#3A3D3F;    
}

.t7{
    font-weight:400;font-size:12px;color:#878588;
    text-decoration:none;
}


.centered{
    margin:auto;
    
    }

#top_right{
    background:#FFF;width:100%;
    height:60px;text-align:left;
}

#top_right ul{
    padding:12px 31px;
}

#mymenu{
    color:#E0E0DA;margin-left:40px;
}


#box_h3{
    background:#F1F2F4;width:90%;margin:23px auto 56px auto;padding:23px 0px;
    border-radius:10px;
}

.btn_green{
    padding:6px 10px;font-size:12px;color:#FFF;background:#03A598;width:auto;text-align:center;
    border:0px solid;
}

.expanded{
    width:46% !important; padding:2px 12px;text-align:right;    
}

.btn_green a{
    color:#FFF;text-decoration:none;    
}
#btns_box_l li{
    margin:2px 27px;margin-bottom:70px;
}
#static_info li{
    text-align:center;margin:1px 15px;width:180px;
}


.form_search{
    background:#E4E8E6;padding:1px;margin-left:10px;width:51%;height:28px;
}

.form_search input{
    background:#E4E8E6;border:0px solid;font-size:12px;
    padding:2px;
    }

#msgr{
    background:#FD4049;color:#FFF;border-radius:40px;padding:4px;font-weight:600;font-size:12px;
    width:14px;height:14px;text-align:center;margin-left:16px;margin-top:2px;
}
#msgr a{
    color:#FFF;text-decoration:none;
}
#nameplace{
    color:#000;font-weight:400;font-size:13px;margin-left:16px;text-align:left;padding:4px 0px;
}
.myminiphoto{
    width:37px;height:37px;border-radius:70px;margin-left:12px;
    background-size:cover;background-position:center; background-repeat:no-repeat;
}

#reciente{
    text-align:center;
    margin-top:38px;
}

#reciente .hdt{
    font-size:14px;color:#808A99;font-weight:500;
    padding:10px;

}

#reciente ul{
    width:70%;margin:auto;    
}
#reciente ul li{
    text-align:left;border-bottom:1px solid #8B8A95;margin:10px 0px;
}

.name_left{
    color:#808A99;font-weight:500;font-size:12px;    
}
.text_left{
    color:#DCE2E4;font-size:12px;font-weight:600;    
}

.detailleft{
    text-align:left;    
}

.detailleft h2{
    font-weight:400;font-size:21px;color:#000006;    
}

.graybox{
    background:#EBF5F8;text-align:left;    
}

.underline{
    text-decoration:underline;padding-bottom:6px;    
}
.linker{
    color:#EF4A56;font-size:12px;     
}

.linker_blue{
    color:#2F57A5;font-size:12px;     
}

.greenbox{
    width:100%;background:#03A598;height:18px;color:#FFF;font-size:12px;
    padding:2% 0px;
}

.greenbox .table_c{
    padding:2px 10px;    
}

.contact_editor_lnk{
    margin:8px 17px;    
}
.right_contact{
    font-size:12px;    
}

.contact_info_box{
    padding:2px 18px;    
}

.contact_info_box li{
    margin:10px 0px;    
}


.info_list_contact{
    margin-left:18px;    
    
}

.menu_notas{
    border-bottom:1px solid #DDD;padding:0px 14px;
}

.menu_notas li{
    border:1px solid #DDD;border-bottom:0px solid;padding:6px;
    border-radius:6px 6px 0px 0px;font-size:12px;
}

.checked{    
    padding:6px;
    border-radius:6px 6px 0px 0px;font-size:12px;

}

.borderme{
    border:1px solid #DDD;width:100%;margin:auto;height:50px;    
}

.alineador{
    text-align:right;margin-top:12px; 
}
.link_green{
    background:#03a598;text-decoration:none;font-size:12px;color:#FFF;padding:6px 10px;
}    

.notes_box{
    border-top:1px solid #E1E1DC;
    margin-top:11px;padding:14px 28px 14px 0px;
}

.task_list{
    padding:10px 0px 0px 14px;    
}

.task_list li{
        margin:10px 0px;
}

.cube1{
    border:1px solid;width:9px;height:9px;background:#FFF;    
    overflow:hidden;border-radius:2px;margin:0px 5px 0px 0px;
}
.task_email{
    background:#188CCD;color:#FFF;font-size:8px;padding:2px;    
}

.task_trabajo{
    background:#00A22E;color:#FFF;font-size:8px;padding:2px;    
}

.task_home{
    background:#EA5859;color:#FFF;font-size:8px;padding:2px;    
}

.tag{
    background:#E4E8EB;border-radius:3px;padding:1px;    
}

.btnsrch{
        border:0px solid;
    }

.graytext{
    background:#E4E8EB;height:30px;
    }


.deler,.adder{
font-size:22px;color:#03a598;font-weight:300;text-align:center;
}
.deler{
    color:#ef4a56;    
}

.deler:hover,.adder:hover{
    text-decoration:none;color:#20252c;    
}
