.panel_caso
	background #fff
	height 100%
	.superior_panelcaso
		text-align left
		margin 15px
		border-bottom 1px solid #808080
	.contenedor_panelcaso
		margin 15px
		text-align left
		.personas_caso
			background #f5f5f5
			margin 15px 0px 0px 0px
			height 60px
			ul
				li
					display inline-block
					text-align center
					width 16%
					img 
						border-radius 50%
						height 45px
						margin-top 8px
						width 50px
		#addPersonal, #organizacion, #contactos
			.form-group
				label
					display inline-block
					vertical-align top
					width 200px
				.form-control
					display inline-block
					width 350px
		#organizacion
			textarea
				height 80px
		#contactos
			.superior_contactos
				margin-top 5px
				border-bottom 1px solid #000
			.contenido_contactos
				padding-top 10px
				height 400px
				.col-md-5
					border-left 1px solid #000
					height 400px
					.gente
						.personas
							clear both
							a
								color #000
								&:hover
									color #000
							img
								width 50px
								height 50px
								border-radius 50%
								float left
							p
								float left
								margin-left 10px
				.col-md-7
					form
						.form-group
							label
								display inline-block
								vertical-align top
								width 20px
								top 18px
								position relative
							.form-control
								border 1px solid #fff
								border-bottom 1px solid #00ae41
								border-radius 0px
								box-shadow 0px 0px 0px#fff
								display inline-block
								vertical-align top
								width 250px
		#addOrganizacion
			.nav-tabs
				li
					a
						color #00ae41
				.active
					a
						color #000
		#involucrados
			.panel-body
				padding 0px !important
				.lista_involucadros
					li
						a
							color #00ae41 !important
					.active
						a
							color #000	!important
				.contenido_fuente, .documentos_fuente
					h4
						text-align center
					.fa
						font-size 80px
					.fa-file-word-o
						color blue
					.fa-file-pdf-o
						color red
					.fa-file-powerpoint-o
						color orange
					.fa-file-image-o
						color gray
				.contenido_contactos, .contenido_involucrados, .contenido_fuente, .contenido_fuente
					max-height 250px
					.lista_contactos, .listas_involucrados
						background red
						display inline-block
						height 190px
						margin 10px 0px 0px 1%
						width 23%
					.descripcion_fuente
						margin 1%
						width 100%
					.imagen_fuente, .documentos_fuente
						display inline-block
						margin 1%
						vertical-align top
						width 47%
						img
							height 90px
							width 100px
				.botonera
					background: #ddd;
					height 35px
					margin 10px 0px 0px 0px
					position relative
					text-align right
					width 100%
					a
						color #000
						line-height 32px
						margin-right 20px

				.involucrados_btn
					margin-top 20px
					ul
						li
							display inline-block
							text-align center
							vertical-align top
							width 31%
							a
								width 80% 

				#addFuente
					/* #div_id_tipofuente
						width 100% !important
						#id_tipofuente
							width 48% */
					#div_id_observaciones
						width 100%
						#id_observaciones
							height 80px
					#div_id_calificacion
						width 100%;
						.radio
							display inline-block
							#id_calificacion_1
								display none
					#id_imagenes, #id_Documentos
						border 1px solid #fff
						box-shadow inset 0 1px 1px rgba(0,0,0,0)
					.form-group
						display inline-block
						vertical-align top
						width 48%
				#addmoreDocument
					#id_imagenes, #id_Documentos
						border 1px solid #fff
						box-shadow inset 0 1px 1px rgba(0,0,0,0)
					.form-group
						display inline-block
						vertical-align top
						width 48%
		#procesos
			.panel-body
				padding 0px !important
				h4
					text-align center
				.estados
					display inline-block
					vertical-align top
					width 32%
				li
					margin-left 25px
					.fa-check-circle
						color #00af3f
					.fa-times-circle, .fa-times
						color red
					.fa-pause
						color orange
					a
						color #000
						text-decoration underline
						font-size  18px
						&:hover
							color #000
							text-decoration underline
					p
						display inline-block
						width 80%
					i 
						width 10%
			.crear_proceso
				background #ddd
				height 35px
				position relative
				text-align right
				width 100%
				a
					color #000
					line-height 32px
					margin-right 20px
		#documentos
			.panel-body
				padding 0px !important
				h4
					text-align center
				ul
					li
						margin-top 15px
						text-align center
						display inline-block
						a
							color #000
							&:hover
								color #000 
							.fa
								font-size 60px
							.fa-file-word-o
								color blue
							.fa-file-pdf-o
								color red
							.fa-file-powerpoint-o
								color orange
							.fa-file-image-o
								color gray
							img
								width 50px
								height 50px
			.crear_documento
				background #ddd
				clear both
				height 35px
				position relative
				text-align right
				width 100%
				a
					color #000
					line-height 32px
					margin-right 20px
			#verDocumento
				#home
					.documento
						display inline-block
						height 200px
						padding-top 25px
						text-align center
						vertical-align top
						width 48%
						img
							height 150px
							width 150px
						.fa
							font-size 100px
						.fa-file-word-o
							color blue
						.fa-file-pdf-o
							color red
						.fa-file-powerpoint-o
							color orange
						.fa-file-image-o
							color gray
					.documentos_procesos
						display inline-block
						padding-top 25px
						width 48%
						i, input
							font-size 60px
				#profile
					p
						margin 50px
			#AddDocument
				#id_documento
					-webkit-box-shadow inset 0 1px 1px rgba(0,0,0,0)
					border 1px solid #fff
					box-shadow inset 0 1px 1px rgba(0,0,0,0)
					height: 50px
					width 60%
				#id_description
					height 80px
					width 80%
		#tareas
			.panel-body
				padding 0px !important
				.agregar_tarea
					background #ddd
					height 35px
					position relative
					text-align right
					width 100%
					a
						color #000
						line-height 32px
						margin-right 20px
				.contenedor_tareas
					h4
						text-align center
					.lista_tareas
						display inline-block
						text-align center
						vertical-align top
						width 29%
						margin 1%
						i
							color #00ae41
							display: inline-block
							font-size 50px
							width: 50px
		#tareas, #AddProceso
			.form-group
				width 80%
				label
					display inline-block
					vertical-align top
					width 100% 
				.form-control
					display inline-block
					vertical-align top
					width 90%
				textarea
					height 80px
#boxy_float
	background white
	box-shadow  6px 6px 3px  #AAA
	border 1px solid #BBB
	height auto
	position absolute
	padding 12px
	width 250px
	z-index 100
#popcalendar
	text-align left
	td
		height 40px
		margin 6px
		text-align center
	table
		width 100%
.ui-autocomplete
	z-index 10000