.panel_procesos
	padding 10px
	h1
		font-size 26px
	.status
		background #fff
		.superior_status
			text-align left
			border-bottom 1px solid gray
			h1
				width 87%
				display inline-block
			.btn-status
				display inline-block
				vertical-align middle
				width 10%
				a 
					color #000
					&:hover
						color #000
				.dropdown-menu
					left -140px !important
					li 
						cursor pointer
						height 10px !important
						margin 15px
						.fa-check-circle
							color #00af3f
						.fa-times-circle, .fa-times
							color red
						.fa-pause
							color orange
		.status
			text-align left
			padding-top 15px
			span
				display inline-block
				font-weight bold
				vertical-align top
				padding-right 10px
			p
				display inline-block
				padding-left 10px
			.fa-check-circle
				color #00af3f
			.fa-times-circle, .fa-times
				color red
			.fa-pause
				color orange
		.actualizaciones
			text-align left
			span
				display inline-block
				font-weight bold
				vertical-align top
			p
				display inline-block
				padding-left 10px
			ul
				li
					a
						color #000
						padding-left 5px
						text-decoration underline
	.cuerpo_proceso
		background #fff
		.superior_procesos
			text-align left
			border-bottom 1px solid gray
		.contenido_proceso
			.fa-file-word-o
				color blue
			.fa-file-pdf-o
				color red
			.fa-file-powerpoint-o
				color orange
			.fa-file-image-o
				color gray
			.fa-file-excel-o
				color green
			ul
				li
					text-align left
					clear both
					h1
						color #00ae41
					.tareas
						ul
							li
								border-bottom 1px solid gray
								margin-top 5px
								i
									display inline-block
									font-size 30px
									margin 5px
									text-align center
									width 10%
								.despligue_nota
									display inline-block
									vertical-align top
									width 87%
									span, p
										margin 5px
					.crear_tarea
						.form-group
							label
								display inline-block
								vertical-align top
								width 200px
							.form-control
								display inline-block
								vertical-align top
								width 200px
					.desplegar_documentos
						.documentos_procesos
							display inline-block
							padding-bottom 15px
							text-align center
							vertical-align top
							width 32%
							.fa
								font-size 50px
							a
								color #000
							img 
								width 50px
								height: 50px
					.nav-tabs
						li
							a
								color #00ae41
						.active
							a
								color #000
					.tab-pane
						.documento
							display inline-block
							margin 35px 0px 35px 50px
							vertical-align top
							width 32%
							.fa
								font-size 100px !important
							img
								width: 100%
								height: 150px
						.documentos_procesos
							display inline-block
							vertical-align top
							p
								margin 35px 0px 0px 50px
							.segundap
								margin 15px 0px 0px 50px
						#updocument
							p
								padding 65px
					#AgregarDocumento
						#id_documento
							-webkit-box-shadow inset 0 1px 1px rgba(0,0,0,0)
							border 1px solid #fff
							box-shadow inset 0 1px 1px rgba(0,0,0,0)
							height: 50px
							width 60%
						#id_description
							height 80px
							width 80%
							height 80px
#boxy_float
	background white
	box-shadow  6px 6px 3px  #AAA
	border 1px solid #BBB
	float left
	left 0px !important
	height auto
	position relative
	padding 12px
	top 0px !important
	width 49%
	z-index 100
	input[type=text]
		width 100%
	select
		width 100%
#popcalendar
	float left
	text-align left
	width 48%
	td
		height 40px
		margin 6px
		text-align center
		a 
			color #000
			&:hover
				color #000