<a href="#add" class="adder 
                        fright inline_blocke glyphicon glyphicon-plus-sign
                        {% if forloop.counter > 1%}blind{% endif%}"></a>
<a href="#remover" class="deler fright 
                          inline_blocke glyphicon 
                          glyphicon-remove-sign  {% if forloop.counter < 2%} blind{% endif %}"></a>
 
