<li>
    <label to="{{a.fieldname}}" class="inline_blocke">{{a.label}}</label>
    <div>
        <input type="text" name="{{a.fieldname}}"  maxlength="100" class="v_{{a.fieldname}} form-control inline_blocke" placeholder="{{a.plhdr}}" />
    
        {% if a.fieldname not in  'contacto tag'  %}
       <select name="typeof{{a.fieldname}}" class="selector form-control inline_blocke">
            <option value="Trabajo">Trabajo</option>
            <option value="Casa">Casa</option>
            <option value="Otro">Otro</option>
        </select>
        {% endif %}
        &nbsp;&nbsp;
    <div class="inline_blocke">
        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
        <a href="#remover{{a.fieldname}}" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
    </div>
    </div>
</li>

