            <div class="t4">Buscar por etiquetas</div>
            <ul id="taglist" class="table_n">
                {% for x,y in abc.items %}
                    {% if y %}
                    <li>
                        <div class="inline_blocke left_tag">{{x}}</div>
                        <div class="inline_blocke right_tag">
                        {% for v in y %}
                            <a href="#{{v.tag}}" class="tagger tags inline_blocke">{{v.tag}}</a>
                        {% endfor %}
                        </span>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

