<ul class="task_list">
    {% for t in user.tasking_set.all %}
    <li class="t6b">
        <span class="task_email">Task</span>
        <span>{{t.title_task}}</span>
        <span>{{t.anytime}} / {{t.when}}</span>
    </li>
    {% endfor%}
    {% if not user.tasking_set.all %}
        <span class="t5">No hay tareas asignadas</span>
    {% endif %}

<!--
    <li class="t6b">
        <span class="cube1 inline_blocke">&nbsp;</span>
        <span class="task_trabajo">TRABAJO</span>
        <span class="inline_blocke">El proyecto ya arranco, te veo mañana</span>
    </li>
    <li class="t6b">
        <span class="cube1 inline_blocke">&nbsp;</span>
        <span class="task_home">HOME</span>
        <span class="inline_blocke">El proyecto ya arranco, te veo mañana</span>
    </li>
-->


</ul>
