
{% extends 'base2.html'%}
{% load staticfiles %}

{% block kuppe %}
 
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/forms.css" %}" />
    <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
    <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/geo.js" %}"></script>
 
    <script type="text/javascript">
        
        {% for em in emails %}
            emails.push('{{em.email}}');
        {% endfor%}
    </script> 

    <script type="text/javascript">
        var lat = '{{ent.latac}}';
        var lon = '{{ent.lonac}}';
        var address = '{{ent.estadoa}}{%if ent.delomun %}, {{ent.delomun}}{% endif %}{% if ent.colonia %}, {{ent.colonia}}{% endif %} ';
        var urlphoto = "{% url 'addphoto' %}"; 
        $(document).ready(function(){
            if(lat!='0.0' && lon!='0.0'){
                edition_location(lat,lon);
            }
            else{
                if(address==' ')
                    $('#map-canvas').addClass('blind');
                else
                    edit_with_address(address);     
            }   
        });

    </script>


{% endblock %}

{% block content %}
<div class="forms_box">

    <form name="addentity" id="addentity"  method="post" action="addentity" enctype="multipart/form-data">
           {%csrf_token%}
           <input type="hidden" name="id" id="id" value="{{ent.pk}}"/>
           <input type="hidden" name="photoa" id="photoa" {% if ent.photoa%} value="{{ent.photoa}}" {% endif%} />
            <div id="generalinfo_box">
                 <div class="hdform">Agregar nueva Organización </div>
               <div id="texts_box" class="inline_blocke">
                    <ul>
                        <li>
                            <label class="inline_blocke" to="nameac">Organización</label>
                            <input type="text" name="nameac" id="nameac" maxlength="100" tabindex="1"  class="void form-control" value="{{ent.nameac}}"/>
                        </li>
                        <li>
                          <label to="twitteract" class="inline_blocke">Twitter</label>
                          <input type="text" name="twitteract" id="twitteract" maxlength="100" class="form-control"  value="{{ent.twitteract}}"/>
                        </li>
                         <li style="display:none;">
                          <label to="twitteract" class="inline_blocke">Tag</label>
                          <input type="text" name="tag" id="tag" maxlength="100" />
                        </li>
                   </ul>
                </div>
                <div id="photo_box" class="inline_blocke">
                    <div>
                         <span class="inline_blocke imagen_label">Agregar Imágen</span> 
                        <input type="file" name="entity_file" id="entity_file" class="blind"  />
                        <a href="#addphoto" id="addephoto" class="inline_blocke">Seleccionar Archivo</a>
                    </div>
                   <div class="loadphoto"></div>
                   <br/>
                    <div>
                        <a href="#/edelphoto/{{ent.photoimg.pk}}/" class=" delphoto">Eliminar</a>
                        {% if not ent.photoa%}
                        <img src="{% static "images/nophoto.jpg"%}" class="myphoto" height="90px" />
                        {% else %}
                        <img src="{{ent.photoimg.entity_file.url}}" class="myphoto" height="90px" />
                        {% endif %}
                    </div>
                </div>
            </div>
            <ul id="list_fields">
               {% load tager %}
               {% for p in ent.phones_list%}
                <li>
                    <label  class="inline_blocke">Teléfono</label>
                    <div>
                        <input type="text" name="phone"  maxlength="100" class="v_phone form-control inline_blocke"  value="{{p.phone}}"  />
                        <select name="typeofphone" class="selector form-control inline_blocke">
                            <option value="Trabajo" {%alberto 0 p.typePhone %}>Trabajo</option>
                            <option value="Casa" {%alberto 1 p.typePhone %}>Casa</option>
                            <option value="Otro" {%alberto 2 p.typePhone %}>Otro</option>
                        </select>
                        &nbsp;&nbsp;
                        <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removerphone" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
                {% if not ent.phones_list%}
                <li>
                    <label  class="inline_blocke">Teléfono</label>
                    <div>
                        <input type="text" name="phone"  maxlength="100" class="v_phone form-control inline_blocke"  />
                        <select name="typeofphone" class="selector inline_blocke form-control">
                            <option value="Trabajo">Trabajo</option>
                            <option value="Casa">Casa</option>
                            <option value="Otro">Otro</option>
                        </select>
                        &nbsp;&nbsp;
                        <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removerphone" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% for en in ent.email_list %}
                <li>
                    <label  class="inline_blocke">Email</label>
                    <div>
                        <input type="text" name="email"  maxlength="100" class="v_email inline_blocke form-control" value="{{en.email}}" />
                        <select name="typeofemail" class="selector inline_blocke form-control">
                            <option value="Trabajo">Trabajo</option>
                            <option value="Casa">Casa</option>
                            <option value="Otro">Otro</option>
                        </select>
                        &nbsp;&nbsp;
                        <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removeremail" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
                {% if not ent.email_list %}
                 <li>
                    <label  class="inline_blocke">Email</label>
                    <div>
                        <input type="text" name="email"  maxlength="100" class="v_email form-control inline_blocke" />
                        <select name="typeofemail" class="selector inline_blocke form-control">
                            <option value="Trabajo">Trabajo</option>
                            <option value="Casa">Casa</option>
                            <option value="Otro">Otro</option>
                        </select>
                        &nbsp;&nbsp;
                        <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removeremail" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>
                    </div>
                </li>               
                {% endif %}

                {% for ur in ent.urls_list %}
                 <li>
                    <label  class="inline_blocke">Sitio Web</label>
                    <div>
                        <input type="text" name="url"  maxlength="100" class="v_url form-control inline_blocke"  value="{{ur.url}}"/>
                        <select name="typeofurl" class="selector form-control inline_blocke">
                            <option value="Trabajo" {% alberto 0 ur.typeofUrl%}>Trabajo</option>
                            <option value="Casa" {% alberto 1 ur.typeofUrl%}>Casa</option>
                            <option value="Otro" {% alberto 2 ur.typeofUrl%}>Otro</option>
                        </select>
                        &nbsp;&nbsp;
                        <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removerurl" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
                {% if not ent.urls_list  %}
                <li>
                    <label  class="inline_blocke">Sitio Web</label>
                    <div>
                        <input type="text" name="url"  maxlength="100" class="v_url"  />
                        <select name="typeofurl" class="selector">
                            <option value="Trabajo">Trabajo</option>
                            <option value="Casa">Casa</option>
                            <option value="Otro">Otro</option>
                        </select>
                        &nbsp;&nbsp;
                        <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removerurl" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>
                    </div>
                </li>
                {% endif %}
                <li class="blind">
                    <label to="contacto">Contacto</label>
                    <input type="text" name="contacto" class="v_contacto" placeholder="(agregar contacto)" />
                    <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removercontacto" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>

                </li>
                <li>
                    <label class="inline_blocke">Estado</label>
                    <select name="estadoa" class="location_drop form-control" >
                        <option value="">Seleccione</option>
                        {% for std in estados %}
                            <option value="{{std.estado}}" {% ifequal std.estado ent.estadoa%}selected="selected"{% endifequal %}>{{std.estado}}</option>
                        {% endfor %}
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tomunicipio">Del./Municipio</label>
                    <select name="delomun" id="delomun" class="form-control">
                        <option value="">Seleccione</option>
                        {% for d in delomuns %}
                        <option value="{{d.municipio}}" {% ifequal ent.delomun d.municipio %} selected="selected"{% endifequal%}>{{d.municipio}}</option>
                        {% endfor %}
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tocolonia">Colonia</label>
                     <select name="colonia" id="colonia" class="form-control">
                    <option value="">Seleccione</option>
                    {% for c in colonias %}
                        <option value="{{c.asentamiento}}" {% ifequal c.asentamiento ent.colonia %}selected="selected"{% endifequal %}  >{{c.asentamiento}}</option>
                    {% endfor %}
                    </select>
                </li>
                <li>
                    <label to="address" class="inline_blocke">Dirección</label>
                    <input type="text" class="form-control" name="addressac"  id="addressac" maxlength="100" value="{{ent.addressac}}" />
                </li>
                 <li>
                <div id="map-canvas" class="blindi" style="z-index:1;height:300px;width:100%;"></div>
                </li>

               
                <li>
                    <label to="cpac" class="inline_blocke">C.P.</label>
                    <input type="text" name="cpac" id="cpac" maxlength="10" style="width:80px;" class="void form-control" value="{{ent.cpac}}" />
                    <input type="hidden" name="latac" id="latac" value="{{ent.latac}}"/>
                    <input type="hidden" name="lonac" id="lonac" value="{{ent.lonac}}"/>
                </li>
                <li>
                    <label to="extra" class="inline_blocke">Extra</label><br/>
                    <textarea name="extra" id="extra" class="form-control" rows="3">{{ent.extra}}</textarea>
                </li>
            </ul>
           <div id="btn_green">
                <span class="inline_blocke" id ="saver_box">
                    <a data-dismiss="modal" class="btn btn-default" href="/detailentity/{{ent.pk}}">Cancelar</a>
                    <input  id="btn_save" type="submit" value="Guardar" class="btn btn-success"/>
                </span> 
            </div>
        </form>
<br/>

</div>
{% endblock %}





















