{% extends 'base2.html'%}
{% load staticfiles %}
{% block kuppe %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/forms.css" %}" />
    <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
    <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/geo.js" %}"></script>
    <script type="text/javascript">
        var lat = '{{contact.lat}}';
        var lon = '{{contact.lon}}';
        var address = '{{contact.estado}}{%if contact.delomun %}, {{contact.delomun}}{% endif %}{% if contact.colonia %}, {{contact.colonia}}{% endif %} ';
        var urlphoto = "{% url 'addphoto' %}"; 
        $(document).ready(function(){
            if(lat!='0.0' && lon!='0.0'){
                edition_location(lat,lon);
            }
            else{
                if(address==' ')
                    $('#map-canvas').addClass('blind');
                else
                    edit_with_address(address);     
            }   
        });

    </script>
{% endblock %}

{% block content %}
<div class="forms_box">
    <form name="addcontact" id="addcontact"  method="post" action="addcontact" enctype="multipart/form-data">
           {%csrf_token%}
           <input type="hidden" name="photoc" id="photoc" value="{% if contact.photoc%}{{contact.photoc}}{% endif%}"  />
           <input type="hidden" name="id" id="id"  value="{{contact.pk}}" />
            <div id="generalinfo_box">
                <div id="texts_box" class="inline_blocke">
                    <ul>
                        <li>
                            <label class="inline_blocke" to="name">Nombre</label>
                            <input type="text" name="namec" id="namec" maxlength="100" tabindex="1"  class="void form-control" value="{{contact.namec}}" />
                        </li>
                        <li>
                            <label class="inline_blocke" to="name">Apellido</label>
                            <input type="text" name="lastname" id="lastname" maxlength="100" tabindex="2" class="void form-control" value="{{contact.lastname}}" />
                        </li>
                       <li>
                            <label class="inline_blocke" to="chargec">Cargo</label>
                            <input type="text" name="chargec" id="chargec" maxlength="100" tabindex="3" value="{{contact.chargec}}" class="form-control" />
                        </li>
                    </ul>
                </div>
                <div id="photo_box" class="inline_blocke">
                    <div id="submit_photo_box">
                        <span class="inline_blocke imagen_label">Agregar Imágen</span>
                        <a href="#addphoto" id="addphoto" class="inline_blocke">Seleccionar Archivo</a>
                        <input type="file" name="contact_file" id="contact_file" style="display:none;"/>
                    </div>
                    <div class="loadphoto"></div>
                    <br/>
                    <div>
                        <a href="#/delphoto/{{contact.photoimg.pk}}/" class="delphoto">Eliminar</a>
                            {% if contact.photoimg.contact_file.url %}
                            <img src="{{contact.photoimg.contact_file.url}}" class="myphoto"  height="90px" />
                            {% else %}
                            <img src="/static/images/nophoto.jpg"  class="myphoto" height="90px" />
                            {% endif %}
                    </div>
                </div>
            </div>

            <ul id="list_fields">
            {% if not contact.phone_list%}
              <li>
                    <label to="phones" class="inline_blocke">Teléfono</label>
                    <div>
                        <input type="text" name="phone"  maxlength="100" class="form-control v_phone" placeholder="xx-xxxx-xxxx"/>
                        <select name="typeofphone" class=" form-control selector">
                            <option value="Trabajo">Trabajo</option>
                            <option value="Casa">Casa</option>
                            <option value="Otro">Otro</option>
                        </select>
                        &nbsp;&nbsp;
                        <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removerphone" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>
                    </div>
                </li>
             {% endif %}
                
                {% for x in contact.phone_list %}
                <li>
                    <label to="phones" class="inline_blocke">Teléfono</label>
                    <div>
                        <input type="text" name="phone"  
                        maxlength="100" class="v_phone form-control inline_blocke" 
                        placeholder="xx-xxxx-xxxx" value="{{x.phones}}"/>

                        {% load tager %}
                        <select name="typeofphone" class="form-control selector inline_blocke">
                            <option value="Trabajo" {%alberto 0 x.typephones %}> Trabajo</option>
                            <option value="Casa" {%alberto 1 x.typephones %}> Casa</option>
                            <option value="Otro"{%alberto 2 x.typephones %}>Otro</option>
                        </select>
                        &nbsp;&nbsp;
                        <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removerphone" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>&nbsp;&nbsp;
                    </div>
                </li>
                {% endfor%}
                
                {% for item in contact.emaillist_set.all %}
                <li>
                    <label to="phones" class="inline_blocike">Email</label> 
                    <div>
                        <input type="text" name="email"  
                        maxlength="100" class="v_email form-control inline_blocke" 
                        placeholder="" value="{{item.email}}"/>
                        <select name="typeofemail" class="form-control selector inline_blocke">
                            <option value="Trabajo" {%alberto 0 item.typeofemail %}>Trabajo</option>
                            <option value="Casa" {%alberto 1 item.typeofemail%}>Casa</option>
                            <option value="Otro" {%alberto 2 item.typeofemail%}>Otro</option>
                        </select>
                       &nbsp;&nbsp; <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removeremail" class="deler glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>
                    </div>
                </li>
                {% endfor%}
               
                {% if not contact.urls_list %}

                <li>
                    <label to="phones" class="inline_blocke">Sitio Web</label>
                    <div>
                        <input type="text" name="url"  maxlength="100" class="v_ form-control inline_blocke"  value="{{x.urls}}"/>
                        {% load tager %}
                        <select name="typeofurl" class="selector form-control inline_blockle">
                            <option value="Trabajo" {%alberto 0 x.typeurls %} > Trabajo</option>
                            <option value="Casa" {%alberto 1 x.typeurls %}> Casa</option>
                            <option value="Otro"{%alberto 2 x.typeurls %}>Otro</option>
                        </select>
                      &nbsp;&nbsp;  <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removerurl" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>&nbsp;&nbsp;
                    </div>
                </li>

                {%endif%}
                 {% for x in contact.urls_list %}
                <li>
                    <label to="phones" class="inline_blocke">Sitio Web</label>
                    <div>
                        <input type="text" name="url"  maxlength="100" class="v_ form-control inline_blocke"  value="{{x.urls}}"/>
                        {% load tager %}
                        <select name="typeofurl" class="selector form-control inline_blocke">
                            <option value="Trabajo" {%alberto 0 x.typeurls %} > Trabajo</option>
                            <option value="Casa" {%alberto 1 x.typeurls %}> Casa</option>
                            <option value="Otro"{%alberto 2 x.typeurls %}>Otro</option>
                        </select> 
                      &nbsp;&nbsp;  <div class="inline_blocke">
                            <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                            <a href="#removerurl" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                        </div>&nbsp;&nbsp;
                    </div>
                </li>
                {% endfor%}
                    {% for t in contact.tages %} 
                    <li>
                        <label to="tag" class="inline_blocke">Tag</label>
                        <div>
                            <input type="text" name="tag"  maxlength="100" class="v_tag form-control inline_blocke" value="{{t}}"/>
                            <div class="inline_blocke">
                                <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                                <a href="#removertag" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                <li>
                    <label to="twitter" class="inline_blocke">Twitter</label>
                    <input type="text" name="twitter" class="form-control"  id="twitter" maxlength="100" value="{{contact.contactsocialinfo_set.all.0.cuentas.account}}" />
                </li>
                <li>
                    <label to="address" class="inline_blocke">Dirección</label>
                    <input type="text" class="void form-control"  name="address" id="" maxlength="100" value="{{contact.address}}"/>
                </li>

                <li>
                    <label class="inline_blocke">Estado</label>
                    <select name="estado" class="location_drop form-control" >
                        {% for std in states %}
                            <option value="{{std.estado}}" {% ifequal std.estado contact.estado %} selected="selected" {% endifequal%}>{{std.estado}}</option>
                        {% endfor %}
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tomunicipio">Del./Municipio</label>
                    <input type="hidden" id="otherdelomun" name="anotherdelomun" value="{{contact.delomun}}" class="form-control" />
                    <select name="delomun" id="delomun" class="form-control">
                    <option value="">Debe seleccionar un Estado</option>
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tocolonia">Colonia</label>
                     <input type="hidden" id="othercolonia" name="othercolonia" value="{{contact.colonia}}" />
                     <select name="colonia" id="colonia" class="form-control">
                    <option value="">Debe seleccionar un municipio</option>
                    {% for colonia in colonias %}
                        <option value="{{colonia.asentamiento}}" {% if contact.colonia in colonia.asentamiento%} selected="selected" {% endif%}>{{colonia.asentamiento}}</option>
                    {% endfor%}
                    </select>
                </li>

                <li>
                <div id="map-canvas" class="blindi" style="z-index:1;height:300px;width:100%;"></div>
                </li>

                <li>
                    <label to="cp" class="inline_blocke">C.P.</label>
                    <input type="text" name="cp" id="cp" maxlength="10" style="width:80px;" class="void form-control" value="{{contact.cp}}"/>
                    <input type="hidden" name="lat" id="lat" value="{{contact.lat}}">
                    <input type="hidden" name="lon" id="lon" value="{{contact.lon}}" />
                </li>
                <li>
                    <label to="extra" class="inline_blocke">Extra</label><br/>
                    <textarea name="extrac" id="extrac" class="form-control" rows="3">{{contact.extrac}}</textarea>
                </li>
            </ul>
            <div id="btn_green">
                <span class="inline_blocke" id ="saver_box">
                    <input  id="btn_save" type="submit" value="Guardar" class="btn_green"/>
                    <span>o <a href="/detailcontact/{{contact.pk}}/">Cancelar</a></span>
                </span> 
            </div>
            <br/>
        </form>
</div>
<script type="text/javascript">
$('.location_drop').change(restLocation);
$('[name="estado"]').change();
$('[name="delomun"]').change(restLocation);


</script>
{% endblock %}
