{% extends extend  %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block kuppe %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/contacts.css" %}" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static "js/geo.js" %}"></script>
    <script type="text/javascript" src="{% static "js/contacts.js" %}"></script>
    <script type="text/javascript">
        data_colonia = {'estado':$('#id_estado').val()};
        params_to_dropdowns = [{'changer':'#id_estado','victim':'#id_delomun','url':'/location','param':'pk'},
                               {'changer':'#id_delomun','victim':'#id_colonia','url':'/colonia','param':'pk'},
                               {'changer':'#id_colonia','victim':'#id_cp','url':'/cps','param':'pk','data':data_colonia}
                      ];
       
        $(document).ready(function(){
           
            changers(params_to_dropdowns);    
            $( ".combobox").combobox({select:function(){
                $(this).change();    
            }
            
            });
            $('.adder').click(addli);
            $('.deler').click(rmli);
            $('.ajax_send').submit(sendit);
            $('#addphoto').click(submitPhoto);
            $('#contact_file').change(submitPhoto);
            $('#id_colonia').change(localizeme);
            {% if idc %}localizeme();{% endif%}
        });
    </script>
{% endblock %}
{% block content %}
{% load tager%}
<div class="form_box">
    <h2 class="title-1"> Contacto</h2>
    <form name="addcontact" id="addcontact"  method="post" action="/addcontact" enctype="multipart/form-data"  class="ajax_send">
           {%csrf_token%}
           <input type="hidden" name="id" id="id"  value="{{idc}}" />
           <input type="file" name="contact_file" id="contact_file" value=""  style="display:none;" /> 
           {% if idc %}
                {{forma.userrelated}}
                {{forma.usercreator}}
            {% endif %}
           <div class="col-md-9 left_form">
               <ul class="field-list">
                    <li>
                        <label class="inline_blocke" for="id_namec"> {{forma.namec.label}} </label>
                        {{forma.namec|addcss:"form-control inline_blocke field-meddium"}}
                    </li>
                    <li>
                        <label class="inline_blocke" for="id_lastname"> {{forma.lastname.label}} </label>
                        {{forma.lastname|addcss:"form-control inline_blocke field-meddium"}}
                    </li>
                   <li>
                        <label class="inline_blocke" for="id_chargec"> {{forma.chargec.label}} </label>
                        {{forma.chargec|addcss:"form-control inline_blocke field-meddium"}}
                    </li>
                    <li class="blind">
                         <label class="inline_blocke" for="id_organizacion"> Organización </label>
                    </li>

                </ul>
           </div>
           <div class="col-md-3" style="padding:9px 0px;">
                <a href="#/addphoto" id="addphoto" class="btn btn-success" style="width:100%;">Seleccionar imagen</a>
                <div class="rounding">
                    {% if photo%}
                        <img src="/static/{{photo}}" class="myphoto" />
                    {% else %}
                        <img src="/static/images/nophoto.png" class="myphoto"/>
                    {% endif %}
                </div>
           </div>
            <ul>
               {% for cfor in cform %}
               <li>
                   <div class="col-md-9 left_form">
                                <label class="inline_blocke">Contacto</label>
                                {{cfor.typeof|addcss:"form-control inline_blocke field-short"}}
                                {{cfor.contactinfo|addcss:"form-control inline_blocke field-short"}}
                   </div>
                   <div class="col-md-3 rboxy field-list">
                                {{cfor.whereis|addcss:"form-control inline_blocke field-right-d"}}
                                {% include 'pices/botones.html'%}
                   </div>
               </li>
               {% endfor %}          


               {% for cfor in emailform %}
               <li>
                   <div class="col-md-9 left_form">
                                <label class="inline_blocke">Contacto</label>
                                {{cfor.typeof|addcss:"form-control inline_blocke field-short"}}
                                {{cfor.contactinfo|addcss:"form-control inline_blocke field-short"}}
                   </div>
                   
                   <div class="col-md-3 rboxy field-list">
                                {{cfor.whereis|addcss:"form-control inline_blocke field-right-d"}}
                                {% include 'pices/botones.html'%}
                   </div>
               </li>
               {% endfor %}          




            </ul>
            <ul>            
            {% for rsfor in rsform %}
               <li>
               <div class="col-md-9 left_form">
                            <label class="inline_blocke">Red Social</label>
                            {{rsfor.redsociallist|addcss:"form-control inline_blocke field-meddium"}}
               </div>
               
               <div class="col-md-3 rboxy field-list">
                            {{rsfor.redsocial|addcss:"form-control inline_blocke field-right-d"}}
                            {% include 'pices/botones.html'%}
              </div>
               </li>
            {% endfor %}          
               </ul>
               <ul>
               {% for addfor in addsform %}
               <li>
               <div class="col-md-9 left_form">
                            <label class="inline_blocke">Dirección</label>
                            {{addfor.direccion|addcss:"form-control inline_blocke field-meddium"}}
               </div>
               
               <div class="col-md-3 rboxy field-list">
                            {{addfor.whereisdir|addcss:"form-control inline_blocke field-right-d"}}
                            {% include 'pices/botones.html'%}
                </div>
               </li>
               {% endfor %}
            </ul>
            <div style="clear:both;text-align:left;">
                <label style="width:15.5%;" class="inline_blocke">&nbsp;</label>
                <div class="inline_blocke short">
                    <label for="id_estado"> {{forma.estado.label}} </label>
                    {{forma.estado|addcss:"form-control combobox"}}
                </div>
                <div class="inline_blocke  short">
                    <label for="id_delomun"> {{forma.delomun.label}} </label>
                    {{forma.delomun|addcss:"form-control combobox"}}
                </div>
                <br/>
                <label style="width:15.5%;" class="inline_blocke">&nbsp;</label>
               <div class="inline_blocke short">
                    <label for="id_colonia"> {{forma.colonia.label}} </label>
                    {{forma.colonia|addcss:"form-control combobox"}}
                </div>

               <div class="inline_blocke short">
                    <label for="id_cp"> {{forma.cp.label}} </label>
                    {{forma.cp|addcss:"form-control combobox"}}
                </div>

            </div>
            <div style="text-align:left;margin:12px 0px;">
                <label for="id_extrac" style="width:100%;">Información Extra (biografía,notas,comó conoció la Organización)</label>
                {{forma.extrac|addcss:"form-control small-f"}}
           <!-- 
                <div>
                    ¿Quién puede ver este contacto?
                </div>
                <ul>
                    <li>
                        <input type="radio" name="who" value="t"  class="inline_blocke" />
                        <span class="inline_blocke spacing_r">Todos</span>
                    </li>
                    <li>
                        <input type="radio" name="who" value="me" class="inline_blocke" />
                        <span class="inline_blocke spacing_r">Solo yo</span> 
                    </li>
                    <li>
                        <input type="radio" name="who" value="select" class="inline_blocke" />
                        <span class="inline_nblocke spacing_r">Seleccionar gente...</span>
                    </li>
                </ul>
            -->
            
            </div>
                {{forma.lon}}{{forma.lat}}{{forma.photoc}}


            <ul class="blind">
                <li>
                    <div class="inline_blocke" style="width:80%;">
                        <label>Tags</label>
                        <input type="text" name="tags" class="form-control inline_blocke selector" />
                    </div>

                    <div class="inline_blocke" style="padding-top:5%;">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#remover" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>
                </li>
            </ul>
            <div id="map-canvas" class="blind" style="z-index:1;height:300px;width:100%;"></div>
           {% if extraform %}
                {{extraform|as_bootstrap}}
            <hr/>
            {% endif %}
            
            <div style="text-align:left;margin:10px 0px;">
                <input  id="btn_save" type="submit" value="+Agregar" class="btn btn-success"/>
                 o <a href="/mycontacts">Reestablecer</a>
            </div>
            <br/>
        </form>
</div>
{% endblock %}
